body{
    background-color: #E1E6EE;
}
.js-btn{
    overflow: hidden;
}
.up-btn{
    float: right;
    font-size: 20x;
    padding: 2px;
    background-color: #E1E6EE;
    color: black;
    border: 0px;
    border-radius: 2px;
    text-transform: uppercase; /*모든 글자를 대문자로*/
    letter-spacing: 2px; /*글자 사이사이마다 공간*/
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.4s;
    margin-right: 10px;
}   
.up-btn:focus{
    outline: none; /*버튼이 클릭되었을때 생기는 사각 흔적 사라지게 하는것.*/
}
.up-btn:hover{  /*마우스가 버튼에 올라갔을때 하는 행동*/
    background-color: black;
    color: white;
    
}
.title-img {
    margin-top: 30px;
    text-align: center;
    
}

.name{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none; /*하이퍼링크가 있는 버튼 혹은 텍스트의 밑줄을 지우는 코드*/
}
.name:hover{
    color: black;
    cursor: pointer;
    text-align: center;
}
.title{
    margin-top: 90px;
    font-size: 40px;
    font-style: italic;
    border-bottom: 5px solid  #646972;
}

.paragraph
{
    font-size: 15px;
    font-weight: 400;
    color:#646972;
}
.sns{
    text-align: right;
}
.sns-img{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
}

.img-box{
    float: left;
    padding: 50px;
}
.img-group{
    overflow: hidden;
    margin: 80px;
    text-align: center;
}
.img{
    
    box-shadow: 5px 20px 20px 0 rgba(0,0,0,0.1);
    border-radius: 50%;
}
.img:hover{
    cursor: pointer;
    transform: translateY(3px);
}
footer{
    color:white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #708090;
    padding: 100px;
}
